{% extends 'base.html.twig' %}

{% block title %}Garage V.parrot - carrosserie{% endblock %}

{% block body %}
<main class="main">
    <h2>{{services[1].getName}}</h2>
    <div class="texte">
        <img src="{{asset('assets/images/ponce.jpeg')}}" alt="photo carrosserie" style="margin-left: 50px">
        <p class="texte">{{sousServices[0].getTexte}}</p>
    </div>
        <h2>{{services[3].getName}}</h2>
        <div class="texte">
            <p class="texte">{{sousServices[2].getTexte}}</p>
            <img src="{{asset('assets/images/einture.jpeg')}}" alt="photo peinture voiture">
        </div>
            <a href="{{path('app_formulaire')}}"><button class="btn2" style="margin-left: 45%;">Contactez nous</button></a>


</main>
{% endblock %}
