    <div class="form-groupe">
        {{form_start(avisForm)}}
        {{form_row(avisForm.name, )}}
        {{form_row(avisForm.commentaire)}}
        {{form_row(avisForm.note)}}
        <button type="submit" class="btn btn2 mt-3 mb-3">Envoyer</button>
        {{form_end(avisForm)}}
    </div>
</div>