{% extends 'base.html.twig' %}

{% block title %}Véhicules d'occasion{% endblock %}

{% block body %}
    <h1>Nos voitures</h1>
    <div class="container">
        {% for car in cars %}
            <div class="card">
                    <img src="{{ asset('/uploads/image/' ~ car.getImage()) }}" alt="photo de voiture" >
                    <h5>{{ car.getMarque() }}</h5>
                    <p>{{ car.getkilometre() | number_format }} km</p>
                    <p>{{ car.getAnnee() }}</p>
                    <p>{{ car.getPrice() / 100 }} €</p>
                    <button class="btn btn-card">Je veux ce véhicule</button>
            </div>  
        {% endfor %}
    </div>
{% endblock %}
