{% extends 'base.html.twig' %}

{% block title %}Véhicules d'occasion{% endblock %}

{% block body %}
    <h2>{{ services[2].getName()  }}</h2>
    <div class="filter">
        <h2>Filtres de recherche</h2>
        <form id="filter-form">
            <div class="filter-row">
                <label for="marque">Marque :</label>
                <input type="text" name="marque" id="marque">
            </div>
            <div class="filter-row">
                <label for="kilometre">Kilométrage max :</label>
                <input type="number" name="kilometre" id="kilometre">
            </div>
            <div class="filter-row">
                <label for="annee">Année :</label>
                <input type="number" name="annee" id="annee">
            </div>
            <div class="filter-row">
                <label for="price">Prix :</label>
                <input type="number" name="price" id="price">
            </div>
            <button type="submit" class="btn3 btn-filter" id="filter-btn">Filtrer</button>
            <button type="reset" id="reset-btn" class="btn3">Réinitialiser</button>
        </form>
    </div>
    <div class="container" id="cars-container">
        {% for car in cars %}
        <div class="card card-occasion">
            <img src="{{ asset('/uploads/image/' ~ car.getImage()) }}" alt="photo de voiture">
            <h5>{{ car.getMarque() }}</h5>
            <p>{{ car.getKilometre() | number_format }} km</p>
            <p>{{ car.getAnnee() }}</p>
            <p>{{ car.getPrice() / 100 }} €</p>
            <a href="{{ path('app_formulaire_from_card', { marque: car.getMarque(), price: car.getPrice() }) }}" class="btn btn-card">Je veux ce véhicule</a>
        </div>
        {% endfor %}
    </div>
    {# <div class="pagination">
        {{ knp_pagination_render(cars) }}
    </div> #}
{% endblock %}
{% block javascript %}
<script>
    const imageFolder = "{{asset('/uploads/image/')}}";
</script>
{% endblock %}
